body{background:lightblue;}

.read{border:2px;border-color: slategray;border-collapse: collapse;}
.insert{border-collapse: collapse; border:none;background-color: lightblue;}
.update td{border:none; height:25px;padding:10px;ffont-weight:bold;}
.add td{border:none; height:25px;padding:10px;ffont-weight:bold;}
input[readonly]{background-color:#D1C3B8;}
select{width:120px; float: left;}
#txtbox{width:500px; height:18px;}
p{text-indent: 50px}
.error{color: red;}

table
{
    background-color: white;
    width: 100%;
    color:black;
}

th{
    height:50px;
    text-align:left;
    padding:15px;
    background-color:#696969;
    color:#FFFFFF;
}

td{
    height:25px;
    vertical-align:middle;
        padding:15px;     
}

tr:hover {background-color: lightskyblue;}
tr 
{
    color:black;
    border:5px;
}
h1
{
    background-color: #86D0DF;
    color:#FFFFFF;
    font-size: 40px;
    padding-left: 10px;
    padding: 20px;
}

label
{   
    color:black;
    border-collapse: collapse;  
}

.wrap
{
text-align:center;
width:90%;
margin:0 auto;

margin-top:25px;
}

.header
{
    background-color:#86D0DF;text-align:left;padding:25px;font-size: 25pt;color:white;
}
.headerImg
{
    float:left;
    width:250px;
}
.headerText
{
    float:left;
    height:105px;	
}



.menu { margin-left: 30px; }

/*Fat Erik's Pipelist*/
.navlist
{
    list-style: none;
    padding: 0;
    margin: 0;
}

.navlist li
{
    display: inline;
    padding: 0;
    margin: 0;
}

.navlist li:before { content: "| "; }
.navlist li:first-child:before { content: ""; }

/*IE workaround*/
/*All IE browsers*/
* html .navlist li
{
    border-left: 1px solid black;
    padding: 0 0.4em 0 0.4em;
    margin: 0 0.4em 0 -0.4em;
}

/*Win IE browsers - hide from Mac IE\*/
* html .navlist { height: 1%; }

* html .navlist li
{
    display: block;
    float: left;
}
.main
{
    text-align:left;padding:25px;	
}
.footer
{
    text-align:center;padding:25px;
}